<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.app.dao.AdminUserDao">  
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->  
    <resultMap id="AdminUserResultMap" type="com.app.domain.AdminUser">  
        <id column="user_id" property="userId" jdbcType="INTEGER" />  
        <result column="user_name" property="userName" jdbcType="CHAR" />  
        <result column="email" property="email" jdbcType="CHAR" />
    </resultMap>  
    <!-- 查询单条记录 -->  
    <select id="getAll" parameterType="int" resultMap="AdminUserResultMap">  
        SELECT user_id,user_name,email FROM dsc_admin_user
    </select>  
</mapper>  